<!DOCTYPE html>
<html lang="en">

<head>
    <title>Get started</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='landing_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='image_style.css')}}">

    <!-- Chartjs CDN for displaying the graph -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css" />

    <!-- Cropper js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Upload images -->
    {% if not page %}
    <div id="landingSection">
        <div class="hero-section">
            <div class="heading">
                <h1>Image-Prompt Annotator</h1>
                <br><br>
            </div>

            <div class="hero">
                <div class="content">
                    <h1>Create Custom Datasets for Text-to-Image Generators Seamlessly</h1>
                
                    <br>
                    
                    <p>Designed to simplify the process of creating high-quality datasets for text-to-image generation models, the platform enables an ease of navigation through your uploaded images, with features that ensure your dataset is tailored to meet your specific needs.</p>

                    <p>Label and attach prompts to your images, with our easy-to-use interface and download an organized dataset for use, on completion. </p>
                </div>
                <br>
                <div class="hero-img">
                    <img src="{{url_for('static', filename='images/captioning.png')}}" alt="">
                </div>
            </div>
        </div>
        <div class="files-upload">
            <div class="title">
                <br><br>
                <h1>Upload your images here</h1>
                <br>
                <h3>File limit: 100</h3>
                <br>
                <p>One can upload a raw capture of data through approaches like web-scraping and easily organize their dataset through the platform</p>
            </div>
            <br>
            <form action="/upload" method="POST" enctype="multipart/form-data" id="uploads" class="uploads">
                <div class="upload-btn-wrapper">
                    <button class="btn"></button>
                    <input type="file" name="file" id="inputFiles" multiple accept="image/png, image/jpg, image/jpeg" required>
                </div>
                <input type="submit" name="submit" id="submit" class="submit-btn">

                <p id="tooltip" style="display:none">File limit exceeded! Can upload only 100.</p>
            </form>
        </div>
    </div>
    {% else %}
    <!-- Checkout uploaded images -->
    <div class="image-section" id="imageSection">
        <div class="side-bar">
            <br>
            <div class="flex flex-bar">
                <i class="fa-sharp fa-regular fa-folder bar-icons"></i>
                <h5>Files</h5>
            </div>
            <br>
            <div class="flex flex-bar">
                <i class="fa-solid fa-chart-simple bar-icons"></i>
                <h5>Stats</h5>
            </div>
    
            <br>
            <div class="flex flex-bar">
                <i class="fa-regular fa-floppy-disk bar-icons"></i>
                <h5>Save</h5>
                <!-- Used to save the progress (download the dataset folder) -->
                <!-- <div class="save">
                    <a href="/dashboard">Save progress</a>
                </div> -->
            </div>
    
    
            <button id="myBtn">Dashboard</button>
            <button id="myBtn2">Crop</button>
            <br>
            <div class="all-files" style="float: left">
                {% for i in allFiles %}
                    <a href="/?page={{ allFiles.index(i) +1 }}">{{i}}</a>
                {% endfor %}
            </div>
            <!-- <div class="all-files">
                <li><i class="fa-sharp fa-regular fa-file"></i>image.png</li>
                <li><i class="fa-sharp fa-regular fa-file"></i>about_me_page.png</li>
                <li><i class="fa-sharp fa-regular fa-file"></i>about_me_page.png</li>
                <li><i class="fa-sharp fa-regular fa-file"></i>about_me_page.png</li>
                <li><i class="fa-sharp fa-regular fa-file"></i>about_me_page.png</li>
                <li><i class="fa-sharp fa-regular fa-file"></i>about_me_page.png</li>
            </div> -->
        </div>
        <div class="hero-section">
            <div class="heading">
                <h1> Image-Prompt Annotator</h1>
                <br>
            </div>

            <!-- Annotation section -->
            {% for image in images %}
            <div class="annotation-section">
                <!-- <div class="tag">Landing</div> -->
    
                <div class="flex">
                    <div id="imagesArea" class="images">
                        <div class="image-options">
                            <a href="{{url_for('delete', filename=image)}}"><i class="fa-regular fa-trash-can icons"></i></a>
                            <a id="crop" value="{{image}}"><i class="fa fa-sharp fa-crop icons"></i></a>
                        
                            <!-- TODO: Add copy option for cropped images  -->
                            <!-- <label for="copy">Copy</label>
                            <input type="checkbox" id="copy" style="display:none;" name="copy"> -->
                            <button id="cancel" style="display:none;">Cancel</button>
                        </div>

                        <img src="{{url_for('serve', filename=image)}}" alt="" id="{{image}}">
                        
                    </div>

                    <div id="promptsSection" class="prompts">
                        <form action="/prompt" method="POST">
                            <!-- To set the prompt name -->
                            <input type="hidden" name="image" value="{{image}}">
                            {% for i in range(1,11) %}
                                <label for="Prompt{{i}}">Prompt {{i}}</label>
                                <!-- TODO: Add required for the input fields -->
                                {% if prompts %}
                                    {% set prompt = prompts.split('\n')%}
                                    <textarea type="text" name="{{image}}_{{i}}" class="prompts" value="{{prompt[i-1]}}"></textarea>
                                {% else %}
                                    <textarea type="text" name="{{image}}_{{i}}" class="prompts"></textarea>
                                {% endif %}

                            {% endfor %}
                            <br>
                            <label for="label">Label</label>
                            <input type="text" id="label" name="label" required value="{{label}}" class="label-style">
                            <div id="filters" class="filters">
                                {% for i in labels %}
                                    <div class="filter" style="display:none;" id="{{i}}">{{i}}</div>
                                {% endfor %}
                                <a id="add" style="display:none;">Add Category</a>
                            </div>
                            <input type="submit" class="submit-btn prompts-submit">
                        </form>
                    </div>
                </div>
            </div>

            <br><br>
            <div id="navigate" class="navigation">
                {% if page.has_previous() %}
                    <a href="/?page={{ page.previous_page_number() }}"><i class="fa-solid fa-angle-left nav-icons"></i></a>
                {% endif %}
                <h4>{{page.number}} / {{page.paginator.num_pages}}</h4>
                {% if page.has_next() %}
                    <a href="/?page={{ page.next_page_number() }}"><i class="fa-solid fa-angle-right nav-icons"></i></a>
                {% elif page.number == page.paginator.num_pages %}
                    <!-- TODO: Figure out design for this! -->
                    <a href="/dashboard">Complete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- MODALS -->
    <!-- Dashboard modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Dashboard</h2>
                <span class="close">&times;</span>
            </div>
            <hr>
            <br><br>
            <div class="modal-graph">
                <canvas id="stats" height="100px"></canvas>
                <!-- <img src="https://canvasjs.com/wp-content/uploads/images/gallery/javascript-charts/overview/javascript-charts-graphs-index-data-label.png" alt=""> -->
            </div>    
        </div>
    </div>

    <!-- Crop modal -->
    <div id="myModal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Crop</h2>
                <span class="close">&times;</span>
            </div>
            <hr>
            <br><br>
            <div class="modal-pic">
                <img src="/images/10011.png" alt="">

                <br><br>
                <div class="modal-buttons">
                    <button>Save</button>
                    <button>Create a copy & save</button>
                </div>
            </div>
            
        </div>
    </div>
</body>

<!-- Cropper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>

<script>
    var modal = document.getElementById("myModal");
    var modal2 = document.getElementById("myModal2");
    var btn = document.getElementById("myBtn");
    var btn2 = document.getElementById("myBtn2");
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close")[1];

    
    function chart() {
    
    // Importing colors
    const autocolors = window['chartjs-plugin-autocolors'];
    Chart.register(autocolors);

    stats = document.getElementById("stats")
    // Displaying a bar chart with labels and image counts 
    new Chart(
        stats,
        {
            type: 'bar',
            data: {
                labels: ["About", "Landing", "404", "Pending"],
                datasets: [
                    {
                        label: "Files",
                        data: [5, 10, 5, 20],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                plugins: {
                    autocolors: {
                        mode: 'data'
                    }
                }
            }
        }
    );
}


    btn.onclick = function() {
        modal.style.display = "block";
        chart()
    }
    
    btn2.onclick = function() {
        modal2.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }
    span2.onclick = function() {
        modal2.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal || event.target == modal2) {
            modal.style.display = "none";
            modal2.style.display = "none";
        }
    }
</script>

</html>
